# Dependencies
node_modules/
__pycache__
*.pyc
*.pyo

# Environment variables
.env
.env*.local

# Build outputs
.next/
/out/
/build
dist/
*.egg-info/

# IDE & OS
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage

# Vercel & Deployment
.vercel

# Yarn & Package management
.pnp.js
.yarn/install-state.gz

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Python
venv/
env/
.venv
